[env]
DOCKER_IMAGE_PLATFORM = { value = "arm64", condition = { env_not_set = ["DOCKER_IMAGE_PLATFORM"] } }
DOCKER_IMAGE_PLATFORM_LONG = { script = ["""
    if [ "${DOCKER_IMAGE_PLATFORM}" = "arm64" ]; then
        echo "linux/arm64"
    elif [ "${DOCKER_IMAGE_PLATFORM}" = "amd64" ]; then
        echo "linux/amd64"
    else
        echo >&2 "Unknown platform, the platform value should be 'arm64' or 'amd64'."
        exit 1
    fi
    """], condition = { env_set = ["DOCKER_IMAGE_PLATFORM"] } }

DOCKER_IMAGE_OUTPUT_ARG_VALUE = { script = [
  """
    if [[ -n "${DOCKER_IMAGE_OUTPUT_PATH}" ]]; then
        echo "type=oci,dest=${DOCKER_IMAGE_OUTPUT_PATH}/${CARGO_MAKE_PROJECT_NAME}:${CARGO_MAKE_GIT_HEAD_LAST_COMMIT_HASH_PREFIX}-${CARGO_MAKE_PROJECT_VERSION}-${DOCKER_IMAGE_PLATFORM}"
    else
        echo "type=docker"
    fi
    """,
] }

[tasks.build-app-docker-image]
private = true
condition = { env_set = ["DOCKER_IMAGE_PLATFORM_LONG", "DOCKER_IMAGE_OUTPUT_ARG_VALUE"] }
command = "docker"
args = [
  "buildx",
  "build",
  "--platform",
  "${DOCKER_IMAGE_PLATFORM_LONG}",
  "--tag",
  "${CARGO_MAKE_PROJECT_NAME}:${CARGO_MAKE_GIT_HEAD_LAST_COMMIT_HASH_PREFIX}-${CARGO_MAKE_PROJECT_VERSION}-${DOCKER_IMAGE_PLATFORM}",
  "--output",
  "${DOCKER_IMAGE_OUTPUT_ARG_VALUE}",
  ".",
]
