entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    asDefault: true
    address: :443
    http:
      tls: true

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false

accesslog:

api:
  dashboard: true
  insecure: true
